* {
  box-sizing: border-box;
}

html, body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
}

body {
  font-size: 20px;
}

img {
  border: 0;
  height: auto;
}

a {
  color: #3498db;
  text-decoration: none;
}

/* Needed for twine.js */
.hide {
  display: none;
}

.site-header, .site-nav, .site-main, .site-footer {
  padding: 10px;
}

.site-header {
  text-align: center;
}

.site-title {
  display: inline-block;
  margin: 0 auto;
}
.site-title-image {
  max-width: 100%;
}
.site-title h1 {
  display: none;
}

.site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3a248;
}

.site-widget {
  padding: 30px;
}

.site-quote {
  margin: 0;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}

.site-nav {
  text-align: center;
}

.site-nav-item {
  margin: 32px;
  display: inline-block;
}

.site-footer {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.description-widget {
  padding-top: 70px;
  padding-bottom: 70px;
}

.meetup-widget {
  min-width: 46%;
  display: inline-block;
}

.meetup-widget a {
  color: black;
}

.meetup-event-title {
  margin-top: 0.4em;
}

.github-repos {
  background-color: hsl(0, 0%, 90%);
  display: none;
  padding: 0 10% 50px 10%;
  width: 100%;
}

.github-repos h3 {
  padding: 50px 50px 0 50px;
}

.github-repos-container {
  display: flex;
  flex-wrap: wrap;
}

.github-repos-container .repo {
  flex: 1;
  flex-basis: 20%;
  margin: 50px 50px 0 50px;
}

@media (min-width: 800px) {
  .site-main {
    flex-direction: row;
  }
  .site-widget {
    max-width: 46%;
  }
}

@media (min-width: 1200px) {
  .site-widget {
    max-width: 38%;
  }
}
